.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.main-content {
    @extend .flex-cen;
    flex-direction: column;
    align-self: center;
    width: 1300px;
}

:root {
    --primary-color: rgb(253, 253, 150);
    --button-unselected: #ebebeb;
    --button-unselected-hover: rgb(236, 236, 236);
    --button-selected: rgb(253, 253, 150);
    --button-selected-hover: #cdcaca;

    --hr-divider: rgba(235, 235, 235, 1);

    --surface: rgba(255, 255, 255, 1);
    --surface-secondary: rgba(247, 247, 247, 1);
    --surface-tertiary: rgb(242, 242, 242, 1);
    --surface-border: rgba(227, 227, 227, 1);
    --surface-border-inner: rgb(236, 236, 236);
    
    --surface-disable: rgb(221, 221, 221); 
    --surface-disable-dark-trans: rgb(225, 225, 225,0.6);
    --surface-disable-button: rgb(225, 225, 225);
    --surface-disable-text: rgba(181, 181, 181, 1);

    --notice: rgb(213, 235, 255);
    --notice-secondary: rgb(29, 82, 113);

    --success-surface: rgb(163 255 195);
    
    --warning-surface: rgb(255, 228, 198, 1);
    --warning-surface-border: rgba(255, 200, 121, 1);
    --warning-surface-text: rgba(94, 66, 0, 1);
    
    --critical: rgb(216, 66, 38);
    --critical-hover: rgb(172, 52, 30);
    --critical-secordary: rgb(129, 39, 23); // Darker than hover
    --critical-soft: rgba(255 70 36);
    --critical-pastel: rgb(255 184 184);

    --link-text-light: rgba(197, 208, 255, 1); // For darker surfaces

    --widget-background: #f6f6f6 ;

    --dark-background: rgb(29, 27, 26);
    --checkbox-accent: rgb(48, 48, 48);

    --font-family-brand: 'Courier New', monospace, "Helvetica", "Arial", "sans-serif" !important;
    --font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif !important; 
    --text-color: rgba(48, 48, 48, 1);
    --text-color-hover: rgb(0, 0, 0);
    --text-color-secondary: rgba(97, 97, 97, 1);
    --text-color-white: rgba(255, 251, 251, 1);

    // Not Colours

    --progress-bar-1: rgb(117, 117, 117);
    --progress-bar-2: rgb(202, 202, 202);

    --ind-tab-h-16: 87.4vh;  // Polaris Index Table height 16:9
    --ind-tab-h-21: 88.5vh;  // Polaris Index Table height 21:9
    
    // Box Shadows https://playcode.io/1852283

    --bs-shadow1: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --bs-shadow2: 0 4px 10px rgba(0, 0, 0, 0.1);
    --bs-shadow3: 0px 0px 5px rgba(0, 0, 0, 0.1);
    --bs-shadow4: 0px 2px 4px var(--primary-color);
    --bs-shadow5: 0 0 5px rgba(0, 0, 0, 0.12);
    --bs-shadow6: rgba(99, 99, 99, 0.2) 0px 2px 4px 0px;
    --bs-shadow7: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --bs-shadow8: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --bs-shadow9: rgba(0, 0, 0, 0.09) 0px 0px 4px;

    --bs-shadow8-s: var(--button-selected) 0px 1px 4px;
    --bs-shadow9-s: var(--button-selected) 0px 0px 3px;

    --z-abs: 998;     // Absolute
    --z-popUp: 999;  // Popups
    --z-modal: 1000;  // Modal
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently */
}

.index-table-cell-override {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

// #################
// Polaris Overrides

.Polaris-IndexTable__BulkActionsWrapperVisible {
    display: none !important;
}

.Polaris-IndexTable__ColumnHeaderCheckboxWrapper {
    display: none !important;  // Hide the select all checkbox on index table
}

.Polaris-CheckableButton__Checkbox {
    display: none !important;  // Hide the uncheck all checkbox on index table
}

.filter-index-container .Polaris-IndexTable {
    height: var(--ind-tab-h-21) !important; // 21:9 // Index Table Height
}

.filter-index-container .Polaris-IndexTable__TableCell {
    border-bottom: 1px solid var(--surface-border) !important;  // Bottom border not showing under image and checkbox
}

@media only screen and (max-width: 2000px) {
    .filter-index-container .Polaris-IndexTable {
      height: var(--ind-tab-h-16) !important; // 16:9
    }
  }

  .filter-index-container .Polaris-IndexTable__PaginationWrapper {
    bottom: -1px !important;  // Pagination Containers was showing a pixel of content beneath
}

// Polaris Overrides
// #################
// MUI Overrides

.MuiTableContainer-root {
    @extend .no-scroll;
}

.MuiLinearProgress-barColorPrimary { // MUI Progress Bar : Safe
    background-color: var(--progress-bar-1) !important;
}

.MuiLinearProgress-root { // MUI Progress Bar : Safe
    background-color: var(--progress-bar-2) !important;
}

// MUI Overrides
// #################

.fs-smaller {font-size: 1em !important}
.fs-small {font-size: 1.2em !important}
.fs-18 {font-size: 16px !important}
.fs-medium {font-size: medium !important}
.fs-large {font-size: large !important}

.bord-rad0 {border-radius: 0px !important;}
.bord-rad5 {border-radius: 5px !important}
.bord-rad10 {border-radius: 10px !important}

.bord-rad-r-0 {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.bord-rad-l-0 {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.bord-rad-t-5 {
    border-radius: 5px 5px 0px 0px !important;
}

.mar0 {margin: 0px !important}

.mar0-t {margin-top: 0px !important}
.mar5-t {margin-top: 5px !important}
.mar10-t {margin-top: 10px !important}
.mar15-t {margin-top: 15px !important}
.mar20-t {margin-top: 20px !important}

.mar5-r {margin-right: 5px !important}
.mar15-r {margin-right: 15px !important}
.mar5-l {margin-left: 5px !important}
.mar10-l {margin-left: 10px !important}

.pad0 {padding: 0px !important}
.pad5 {padding: 5px !important}
.pad8 {padding: 8px !important}
.pad10 {padding: 10px !important}

.pad10-hr {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.pad20-hr {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.gap0 {gap: 0px !important}
.gap5 {gap: 5px !important}
.gap10 {gap: 10px !important}
.gap20 {gap: 20px !important}

.gap-col-0 {column-gap: 0px !important;}

.disp-flex {display: flex}
.flex-cen {
    display: flex;
    justify-content: center;
}
.ali-cen {
    display: flex;
    align-items: center;
}

.flex-wrap {flex-wrap: wrap;}

.flex-dir-col {flex-direction: column !important;}
.flex-dir-row {flex-direction: row !important;}

.bs-2 {box-shadow: var(--bs-shadow2) !important;}
.bs-3 {box-shadow: var(--bs-shadow3) !important;}
.bs-5 {box-shadow: var(--bs-shadow5) !important;}
.bs-7 {box-shadow: var(--bs-shadow7) !important;}
.bs-9 {box-shadow: var(--bs-shadow9) !important;}

.text-ali-cen {text-align: center;}

.pos-rel {position: relative}
.pos-abs {position: absolute}

.jus-con-cen {justify-content: center !important;}
.jus-con-none {justify-content: normal !important;}
.jus-con-left {justify-content: flex-start !important;}

.height-100 {height: 100% !important;}

.width-100 {width: 100% !important}
.width-auto {width: auto !important}
.width-max-auto {max-width: none !important} // Pair with width-100
.width-fit-con {width: fit-content !important;} // Good for <p>

.no-overflow {overflow: hidden !important}

.no-border {border: 0px !important;}

.no-box-shadow {box-shadow: 0px 0px 0px transparent !important;}

.no-pointer-events {pointer-events: none}

.no-opacity {opacity: 0}

.no-scroll {
    -ms-overflow-style: none !important;  /* Internet Explorer 10+ */
    scrollbar-width: none !important;  /* Firefox */
}

.no-scroll::-webkit-scrollbar {display: none !important}

.scroll-thin {scrollbar-width: thin}

.bold {font-weight: 700 !important}

.display-none {z-index: -999;}

.zIndex-priority {z-index: var(--z-abs)}

.cursor-click {cursor: pointer !important}

.cursor-def {cursor: default !important}

.pos-rel {position: relative !important}
.pos-abs {position: absolute !important}

.disable-actions {
    pointer-events: none;
    cursor: default;
}

// --- Grids ---

.row1 {grid-row: 1}
.row2 {grid-row: 2}
.row3 {grid-row: 3}
.row4 {grid-row: 4}
.row5 {grid-row: 5}

.row1-2 {grid-row: 1 / 3}

.column1 {grid-column: 1}
.column2 {grid-column: 2}
.column3 {grid-column: 3}
.column1-2 {grid-column: 1 / 3}

// --- Glob Overrides ---

button {border: 0px}

p {font-family: var(--font-family)}

h1 {font-family: var(--font-family)}

a {color: var(--link-text-light)}

// --- Styles ---

// Styles like title. To be used like comps. Instead of classes that are more nuanced

.app-title {
    font-size: 2em;
    color: var(--text-color);
    margin: 0px 0px 10px 0px;

}

.title-style {
    font-size: 1.8em;
    color: var(--text-color);
    margin: 0px 0px 10px 0px;
}

.title-2-style {
    color: var(--text-color-secondary);
    font-size: 1.5em;
    margin: 0px 0px 7px 0px;
}

.title-3-style {
    color: var(--text-color-secondary);
    font-size: 1.2em;
}

// --- Classes ---

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important; 
    width: 100vw !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.card-style-container {
    background-color: var(--surface);
    border: 1px solid var(--surface-border);
    border-radius: 12px;
    padding: 15px;
    width: fit-content;
    height: fit-content;
}

.error-fallback {
    @extend .flex-cen, .ali-cen;
}

.error-fallback-container {
    @extend .error-fallback, .card-style-container;
    height: 100% !important;
    width: 100% !important; 
}

.error-fallback-container-small {
    width: auto !important;
    height: auto !important;
}

.error-fallback-inside {
    @extend .flex-cen;
    padding: 10px;
}

.error-text {
    color: var(--critical);
    font-weight: bold;
}

// -=- TextField Comp Prop Classes -=-

.textfield-w-full {width: 100% !important;}

.textfield-styles {
    padding: 5px;
    border: 1px solid #ccc !important;
    border-radius: 3px;
    color: var(--font-family);
    outline: none;
    // width: 20ch;
    width: 100%;
}


.textfield-styles:disabled, .textfield-styles[disabled] {
    background-color: var(--surface-disable-button) !important;
    box-shadow: var(--bs-shadow8) !important;
    color: var(--surface-disable-text);
}


// -=-------------------------------=-

.glowred-styles {
    background-color: var(--critical) !important;
    transition: 0.2s;
    color: var(--text-color-white) !important;
    box-shadow: var(--bs-shadow1);
}

.glowred-secondary {
    background-color: var(--critical-secordary) !important;
    color: var(--text-color-white) !important;
}

.overlay-load-glassy {
    position: absolute;
    height: fill-available;
    height: -moz-available;
    height: -webkit-fill-available;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    display: flex;
    background: rgba(255, 255, 255, 0.32);
    backdrop-filter: blur(2px);
    z-index: var(--z-abs);
}

// -=- Button Comp Prop Classes -=-

.button-width-xs {width: clamp(60px, 80px, 100px) !important}
.button-width-s {width: clamp(80px, 100px, 120px) !important}
.button-width-m {width: clamp(100px, 150px, 2000px) !important}
.button-width-l {width: clamp(150px, 225px, 250px) !important} // Examples uses Large

.button-width-FW {width: 1000px !important}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container-child-right-sidecard {flex-direction: row}
.button-container-child-bottom-card {flex-direction: column}

.button-hover-primary:hover {background-color: var(--primary-color) !important}
.button-hover-grey:hover {
    background-color: var(--button-unselected-hover ) !important;
    box-shadow: var(--bs-shadow8) !important;
}
.button-hover-red:hover {background-color: var(--critical-hover) !important}

.button-hover-left-sidecar:hover {
    border-radius:  0px 5px 5px 0px; 
}

.button-lite-shadow {box-shadow: var(--bs-shadow9) !important}
// .button-lite-shadow:hover {box-shadow: var(--bs-shadow9-s) !important}

.button-disable {
    pointer-events: none;
    cursor: default;
}

.button-icon-stick-left {
    display: grid !important;
    grid-template-columns: minmax(20px, 5%) 95% minmax(20px, 1%) !important;
}

.button-container-child {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.button-toggled-s {
    background-color: var(--button-selected) !important;
    box-shadow: 0px 0px 5px var(--button-selected);
}

.button-toggled-g {
    background-color: var(--surface-border) !important;
    box-shadow: 0px 0px 5px var(--surface-border);
}

// -=- Side Card Classes -=-

.button-undercard-OR {border-radius: 5px 5px 0px 0px}

.button-leftside-icon {
    flex-direction: row-reverse;
    padding: 8px 15px 8px 12px;
}

.button-undercard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 5px;
    background-color: var(--surface-tertiary);
    border-radius: 0px 0px 5px 5px;
    border-top: 1px solid var(--surface-border);
    font-size: smaller;
}

.button-sidecard-container {
    @extend .button-undercard-container;
    border-radius: 5px 0px 0px 5px;
    border-top: none;
    border-right: 0px solid var(--surface-border);
    padding: 0px;
    max-width: 0px;
    white-space: nowrap;
    overflow: hidden;
    transition: max-width 0.3s ease-in-out, padding 0.3s ease-in-out 0s, border 0.3s ease-in-out 0s, border-radius 0.3s ease-in-out;
}

.button-sidecard-container span {
    flex-shrink: 0;
    white-space: nowrap;
    padding: 8px 8px 8px 20px;
    transition: width 1s ease-in-out 0s;
}

.button-right-sidecard-container {
    @extend .button-sidecard-container;
    border-radius: 0px 5px 5px 0px;
    border-left: 0px solid var(--surface-border);
    transition: max-width 0.3s ease-in-out, padding 0.3s ease-in-out 0s, border-left 0.3s ease-in-out 0s, border-radius 0.3s ease-in-out;
}

.button-right-sidecard-container span {
    flex-shrink: 0;
    white-space: nowrap;
    padding: 8px;
    transition: width 1s ease-in-out 0s;
}

.button-container-child:hover .button-sidecard-container {
    max-width: 35ch;
    border-right: 1px solid var(--surface-border);
}


.button-container-child:hover .button-right-sidecard-container {
    max-width: 35ch;
    border-left: 1px solid var(--surface-border);
    border-right: 0px;
}

// -=- Button Types Classes -=-

.button-standard {
    padding: 10px 20px;
    background-color: var(--surface-secondary);
    border-radius: 5px;
    text-align: center;
    flex: 1 1 20%;
    margin: 5px;
    max-width: 175px;
    cursor: pointer;
    box-shadow: var(--bs-shadow8);
    transition: ease-in 0.3s;
}

.button-standard:hover {
    background-color: var(--primary-color);
    box-shadow: var(--bs-shadow8-s);
    cursor: pointer;
}

.button-selected {background-color: var(--button-selected) !important}
.button-selected:hover {background-color: var(--button-unselected) !important}

.button-large {
    @extend .flex-cen, .noselect;
    align-items: center;
    padding: 10px 30px;
    border: 0px !important;
    background-color: var(--surface-secondary);
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    width: clamp(150px, 160px, 200px);
    height: 40px;
    cursor: pointer;
    box-shadow: var(--bs-shadow8);
    transition: 0.3s;
}

.button-large-toggled {
    background-color: var(--button-selected) !important;
    box-shadow: 0px 0px 5px var(--button-selected) !important;
}

.button-large:hover {
    background-color: var(--button-selected);
    box-shadow: var(--bs-shadow8-s);
}

.button-large:disabled, .button-large[disabled] {
    @extend .disable-actions;
    background-color: var(--surface-disable-button) !important;
    box-shadow: var(--bs-shadow8) !important;
    // opacity: 0.7;
    color: var(--surface-disable-text);
}

.button-with-icon-styles {
    display: flex;
    align-content: center;
    background-color: var(--surface-secondary);
    border-radius: 5px;
    color: black;
    // justify-content: space-between; // June 16th
    align-items: center;
    padding: 8px 15px 8px 20px;
    // max-width: fit-content;  // June 16th
    justify-content: center; // June 16th
    gap: 10px;
    cursor: pointer;
    text-wrap: nowrap;
    transition: background-color 0.3s 0s, opacity 0.3s 0s, border-radius 0.3s ease-in-out;
}

.button-with-icon-styles:disabled, .button-with-icon-styles[disabled] {
    background-color: var(--surface-disable-button);
    opacity: 0.7;
}

.button-with-icon-no-icon {
    padding: 8px 15px 8px 15px;
}

.button-no-hover:hover {
    background-color: var(--button-unselected);
    box-shadow: var(--bs-shadow3);
}


/* ####################### */
/* Popup Alert Styles */

.popupAlert-container {
    position: fixed;
    z-index: var(--z-popUp);
    top: 5px;  // So not inline with filter box
    left: 50%;
    transform: translate(-50%, 0%);
    animation: fadeInAnimation 0.3s;
}

@keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.popupAlert-small {
    padding: 5px !important;
    border-radius: 5px !important;
}

.popupAlert-container-inner {
    @extend .flex-cen;
    align-items: center;
    gap: 5px;
    padding-right: 2px;
}

.popupAlert-error-styles {
    background-color: var(--critical) !important;
    border: 0px solid !important;
    color: var(--text-color-white);
    padding: 10px 10px 10px 20px;
    border-radius: 3px;
    box-shadow: var(--bs-shadow8) !important;
}

.popupAlert-announcement-styles {
    border: 0px solid;
    padding: 2px 10px;
    width: 100vw !important;
    box-shadow: none;
    border-radius: 0px;
    top: 0px !important;
    text-align: center;
}

.popupAlert-canClose-container {
    justify-content: space-between;
}

.popupAlert-grey {
    background-color: var(--surface-disable-dark-trans) !important;
    color: var(--text-color);
    border: 0px solid !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: var(--bs-shadow7);
}

.popupAlert-warn {
    background-color: var(--warning-surface) !important;
    color: var(--warning-surface-text) !important;
    border: 0px solid !important;
    box-shadow: var(--bs-shadow7);
}

.popupAlert-crit {
    background-color: var(--critical) !important;
    color: white !important;
    border: 0px solid !important;
    box-shadow: var(--bs-shadow7);
}


/* Popup Alert Styles */
/* InfoBox Componenent */

.infobox-container {
    @extend .flex-cen;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--notice);
    color: var(--notice-secondary);
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.infobox-small-option {
    border-radius: 5px !important;
    padding: 3px !important;
}

.infobox-grey {
    background-color: var(--surface-tertiary);
    color: var(--text-color);
}

.infobox-success {
    background-color: var(--success-surface);
    color: var(--text-color);
}

.infobox-warn {
    background-color: var(--warning-surface) !important;
    color: var(--warning-surface-text);
}

.infobox-crit {
    background-color: var(--critical-pastel);
    color: var(--text-color);
}

.infobox-setting-OR {
    border-bottom: 1px solid var(--surface-border-inner);
    padding: 10px 20px 5px 20px;
}

.infobox-warning-OR {
    text-align: center;
}

.infobox-p {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.infobox-med {
    max-width: 20vw; // 21 : 9
}
@media only screen and (max-width: 2000px) {
    .infobox-med {
        max-width: 30vw; // 16:9
    }
  }

// -=- Tag Type -=-

.infobox-tag {
    @extend .flex-cen;
    border-radius: 15px;
    background-color: var(--surface-tertiary);
    color: var(--text-color);
    box-shadow: var(--bs-shadow8);
    padding: 7px 7px 7px 18px;
    gap: 15px;
    font-size: 12px;
}

/* InfoBox Componenent */

// Modal Styles

.modal-overlay {
    background-color: rgba(93, 93, 93, 0.6);
    position: fixed;
    inset: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: var(--z-modal);
}

.modal-styles {
    // min-width: 390px;
    min-width: 400px; // May need to go back to width 400px
    max-height: calc(-40px + 100vh);
    flex-shrink: 0;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px;
    padding: 20px;
    outline: 0; // Removes black border upon focus
}

.modal-content-container {
    @extend .flex-cen;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.modal-buttons-container {
    @extend .flex-cen;
    gap: 10px;
}

.modal-description {
    text-align: center;
}

.modal-low-desc {
    opacity: 0.8;
    padding-top: 7px;
}

// -=- Nav Bar -=-

.navbar-cont {
    @extend .flex-cen;
    gap: 30px;
}

.navbar-item {
    @extend .cursor-click;
    text-decoration: none;
    color: var(--text-color);
    padding: 0px 10px;
    font-family: var(--font-family-brand);
}

.navbar-item:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
    padding: 3px 15px;
}

.navbar-item:not(:hover) {
    transition: 0.3s;
    padding: 3px 10px;
}

.nav-sel {
    background-color: black;
    color: white;
    border-bottom: 1px solid var(--text-color);
}

// -=- Divider -=-

.divider {
    width: 100%;
    border: 0px solid;
    border-bottom: 1px solid grey;
}

// -=- Home -=-

.home-main {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

// -=- App Card -=-

.app-card-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 100%;
    border-radius: 20px;
    transition: 0.3s;
}

.app-card-cont:hover {
    height: 750px;
    width: calc(100% + 100px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.app-unreleased-style {
    background-color: rgb(245, 245, 245);
}

.app-suggestion-cont {
    background-color: rgb(245, 245, 245);
    justify-content: center;
    text-align: center;
}